.messagelist {
    background-color: #fff;
    position: fixed;
    left: 80px; 
    top: 0;
    height: 100vh;
    width: 470px;
    z-index: 1000; 
    border-left: 1px solid rgb(237, 237, 237);
    border-right: 1px solid rgb(237, 237, 237);
    border-radius: 0 20px 20px 0;
    overflow-y: auto; /* 스크롤 가능하게 */
}

.title_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.title_section {
    font-size: 24px;
    margin: 0;
}

.message_edit {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.message_item {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.message_item:hover {
    background-color: #f9f9f9;
}


.ellipse {
    height: 53px;
    width: 53px;
    margin-right: 20px;
    border-radius: 50%;
}

.message_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* 내용을 위 아래로 정렬 */
}

.user_name {
    font-weight: bold;
}

.message_text {
    color: #666;
    font-size: 14px;
}
